<!DOCTYPE html>
<html>
    <head>
        <title>ember-note</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" >
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet/less" type="text/css" href="/static/less/styles.less">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" id="new-note-button">
                        <span class="glyphicon glyphicon-file"></span>
                        Create Note
                    </a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row" id="main-content-row">
            </div>
        </div>

        <script type="text/x-handlebars">
            {{outlet}}
        </script>

        <script type="text/x-handlebars" id="notetemplate">
            <div class="action-bar pull-right" style="visibility:hidden;">
                <button class="btn btn-danger btn-xs btn-destroy">
                    <span class="glyphicon glyphicon-trash"></span>
                    delete
                </button>
                <button class="btn btn-primary btn-xs btn-edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                    edit
                </button>
            </div>
            <!-- class="note-content" -->
            <div {{bind-attr class="editMode:hidden:shown :note-content"}}>
                {{markdown markdownContent}}
            </div>
            <div id="editor-{{unbound id}}" {{bind-attr class="editMode:shown:hidden :editor"}}>
                {{textarea value=markdownContent}}
            </div>
        </script>

            <!-- {{textarea id="editor" value=markdownContent}} -->
        <script type="text/x-handlebars" id="editortemplate">
            <div id="editor{{unbound id}}">
                {{ markownContent }}
            </div>
        </script>

        <script type="text/x-handlebars" id="markdowneditortemplate">
            <!-- placeholder: hier kommt der editor rein -->
        </script>

        <script type="text/x-handlebars" data-template-name="pages">
            <div class="col-lg-1">
                <h1>pages</h1>
                <ul class="nav nav-pills nav-stacked">
                    {{#each page in model}}
                        <li>{{#linkTo 'page' page}}{{ page.name }}{{/linkTo}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="main-content" class="col-lg-11 content-col">
                {{ outlet }}
            </div>
        </script>

        <script type="text/x-handlebars" data-template-name="page">
            {{model.name}}
        </script>

        <!-- <script src="http://softwaremaniacs.org/playground/showdown-highlight/highlight.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script src="/static/js/showdown.checkbox.js"></script>
        <script src="http://builds.emberjs.com/handlebars-1.0.0.js"></script>
        <script src="http://builds.emberjs.com/tags/v1.0.0-rc.8/ember.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/0.13.0/ember-data-latest.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>