
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);
// @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

@frame-color: rgb(34, 34, 34); // #434648;
@border-color: #dedede;

html, body {
    height: 100%;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
}

body {
    padding-top: 70px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

#new-note-button {
    font-weight: bold;
}

.row {
    height: 100%;
    min-height: 100%;
}


.editor-holder {
    height: 100%;
    min-height: 100%;
    // margin-top: 50px;
}

.content-col {
    height: 100%;
    min-height: 100%;
    // overflow: auto;
}

.note {
    min-width: 30px;
    min-height: 20px;
    display: table-cell;
    padding: 10px;
    position: absolute !important;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: solid @border-color 1px;

    background: white;

    // textarea {
    //     width: 100%;
    //     height: 100%;
    // }
}

.note-selected {
    border: solid lime 1px;
}

.editor {
    height: 90%;

    textarea {
        font-family: "Source Code Pro Light", monospace;
        height: 100%;
        width: 100%;
        border: 0 none;
    }

}
